body{
    background-color: #efefef;
    margin: 0;
    padding: 0; 
}
*{
    padding: 0;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
li{
    list-style: none;
}
nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}
nav>ul>li>a{position:relative; color:inherit;border-top: 3px solid transparent;border-bottom: 3px solid transparent;padding-top: 5px;padding-bottom: 5px;display: block;
}
nav>ul>li>a:hover::after{
    content:'';
    display:block;
    width:100%;
    background-color: #e06567;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 3px;
    animation: menuSlide 0.5s;
}
@keyframes menuSlide{
    /* 一开始没有宽度，最后恢复原来的宽度 */
    0% {
        width: 0;
    }
    100% {
        width:100%;
    }
}
nav>ul>li>a.highlight::after{
    content:'';
    display:block;
    width:100%;
    background-color: #e06567;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 3px;
    animation: menuSlide 0.5s;
}
nav>ul{
    font-size: 12px;
    font-weight: bold;
}
nav ul li ul.submenu{
    display: none;
    /* 这里在active状态下，从none到inlineblock，会出现突然变宽的状况，因此要用绝对定位 */
    position: absolute;
    /* 由于父元素是float：left，特性是能缩多少就缩多少，再加上ul没有给宽度，因此会出现缩成一团的现象 */
    /* 解决办法：不要换行 */
    white-space: nowrap;
    cursor: pointer;
    background-color: white;
    right: 0;
}
nav ul li.activeFromLi ul.submenu{
    display:inline-block;
    animation: liSlide 0.5s;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}
@keyframes liSlide{
    0% {
        /* margin:100%的意思是父元素的100% */
        margin-right:100%;
    }
    100%{
        margin-right:0;
    }
}
nav ul li ul.submenu li{
    padding: 10px 20px;
    font-size: 12px;
    color: #3d4451;
    font-weight: inherit;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBar{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 1;
    color: #b7b7b7;
}
.topNavBar.sticky{
    background-color: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
    padding: 0;
    transition: all 1s;
    color: #3d4451;
}
.topNavBarInner > a{
    float: left;
    font-family: 'Arial Black';
    font-size: 24px;
    /* padding-top: 8.4px;
    padding-bottom: 2px; */
}
.topNavBar nav{
    float: right;
}
.topNavBar a .rs{
    color: #e6686a;
}
.topNavBar a .card{
    color: #9a9da2;
}
.topNavBar a span.rs{
    margin-right: 4px;
}
.banner{
    background-image: url(./rs-cover.jpg);
    height: 515px;
}
.topNavBarInner{
    padding: 10px 16px;
}
.banner .mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8)
}
.userCard{
    background-color: #ffffff;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -340px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.38);
    border-radius: 2px;
}
.userCard .hello{
    background-color: #e6686a;
    color: white;
    display: inline-block;
    padding: 5px 16px;
    position: relative;
}
.userCard .hello .triangle{
    display: block; 
    /* 因为这里span里面放div */
    border: 5px solid #e6686a;
    width: 0px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    left: 5px;
    top: 100%
}
.userCard .piture{
    float: left;
}
.userCard .text{
    float: left;
    margin-left: 65px;
    width: 470px;
}
.userCard .pitureAndText{
    padding: 50px;
}
.text .hello{
    margin-bottom: 31px;
}
.text hr{
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
    margin: 20px 0;
}
.text dt, .text dd{
    float: left;
    padding: 5px 0;
}
.text dt{
    width: 30%;
    font-weight: bold;
}
.text dd{
    width: 70%;
    color: #9da0a7
}
.userCard .media{
    background-color: #e6686a;
    text-align: center;

}
.userCard .media svg{
    height: 30px;
    width: 30px;
    fill: white;
    vertical-align: top;
}
.media a{
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    padding: 10px 0;
    line-height: 30px;
    margin: 16px 16px;
}
.media a:hover{
    background: #cf5d5fcc
}
.download{
    text-align: center;
    margin:30px auto;
}
.download-inner{
    border: 1px solid #cdcfd1;
    display: inline-block;
    padding: 21px 70px;
    border-radius: 2px; 
}
.download-inner a{
    
}
.downloadResume{
    border: 1px solid #cdcfd1;
    display: inline-block;
    padding: 21px 55px;
    border-radius: 4px; 
    font-size: 14px;
    font-weight: bold;
}
.downloadResume:hover{
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    transition: 0.2s;
}
.downloadResumeWrapper{
    text-align: center;
    margin: 30px auto;
}
main > p.abstract{
    text-align: center;
    line-height: 1.8;
    margin: 30px auto;
    font-size: 18px;
    font-family: kai;
}
section.skills > h2,
section.portfolio > h2{
    text-align: center;
    margin-top: 72px;
    font-size: 34px;
}
section.skills .skillsList{
    background-color: #ffffff;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 30px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.38);
    border-radius: 2px;
}
section.skills .progressBar{
    height: 5px;
    max-width: 400px; 
    background-color: #fae1e1;
    border-radius: 2px;
    margin-top: 4px;
    overflow: hidden; /*把自己以外的东西遮住*/
}
section.skills .progressBar .progressBarInner{
    height: 100%;
    width: 50%;
    background-color: #e6686a;
    border-radius: 2px;
    transform: translateX(-100%); /*先向左移100%*/
    transition: all 2s;
}
section.skills.sildeUp .progressBar .progressBarInner{
    transform: translateX(0); /*然后再恢复到原来的位置*/
}
section.skills li{
    float: left;
    width: 48%;
}
section.skills li:nth-child(even){
    float: right;
    
}
section.skills ol{
    padding: 20px 60px 20px;
    box-sizing: border-box;
}
section.skills ol li {
    margin: 20px 0;
}
section.portfolio{
    text-align: center;
}
section.portfolio nav {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: center;   
    display: inline-block; 
    vertical-align: top;
}
section.portfolio nav ol{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
}
section.portfolio nav ol li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
section.portfolio nav ol li:first-child{
    margin-left: 0;
}
section.portfolio nav .navigation{
    height: 5px;
    margin: 0 auto;
    background-color: white;
    border-radius: 2px;
}
section.portfolio nav .navigation .navigationInner{
    height: 100%;
    width: 15%;
    background-color: #e6686a;
    border-radius: 2px;
    transition: 0.4s;
}
section.portfolio nav .state-1 .navigationInner{
    margin-left: 0;
    width: 15%;
}
section.portfolio nav .state-2 .navigationInner{
    width: 17%;
    margin-left: 72px;
}
section.portfolio nav .state-3 .navigationInner{
    width: 42%;
    margin-left: 139px;
}
section.portfolio .works .big,
section.portfolio .works .small{
    position: absolute;
}
section.portfolio .works{
    position: relative;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    height: 597px;
} 
[auto-highlight]{
    transform: translateY(250px);
}
[auto-highlight].sildeU{
    animation: sildeUp 1.5s forwards;
}
@keyframes sildeUp{
    0% {
        transform: translateY(250px);
    }
    100% {
        transform: translateY(0);
    }
}


