body{
    background-color: #efefef;
    margin: 0;
    padding: 0;
}
*{
    padding: 0;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
li{
    list-style: none;
}

nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
nav>ul>li>a{
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
nav>ul>li>a:hover{
    border-bottom: 3px solid #e06567;
}
nav>ul{
    font-size: 12px;
    color: #b7b7b7;
    font-weight: bold;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBarInner > a{
    float: left;
    font-family: 'Arial Black';
    font-size: 24px;
    padding-top: 8.4px;
    padding-bottom: 2px;
}
.topNavBar nav{
    float: right;
}
.topNavBar a .rs{
    color: #e6686a;
}
.topNavBar a .card{
    color: #9a9da2;
}
.topNavBar{
    position: fixed;
    width: 100%;
}
.topNavBar a span.rs{
    margin-right: 4px;
}
.banner{
    background-image: url(./rs-cover.jpg);
    height: 515px;
}
.topNavBarInner{
    padding: 20px 16px;
}
.banner .mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8)
}
.userCard{
    background-color: #ffffff;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -340px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.38);
    border-radius: 2px;
}
.userCard .hello{
    background-color: #e6686a;
    color: white;
    display: inline-block;
    padding: 5px 16px;
    position: relative;
}
.userCard .hello .triangle{
    display: block; 
    /* 因为这里span里面放div */
    border: 5px solid #e6686a;
    width: 0px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    left: 5px;
    top: 100%
}
.userCard .piture{
    float: left;
}
.userCard .text{
    float: left;
    margin-left: 65px;
    width: 470px;
}
.userCard .pitureAndText{
    padding: 50px;
}
.text .hello{
    margin-bottom: 31px;
}
.text hr{
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
    margin: 20px 0;
}
.text dt, .text dd{
    float: left;
    padding: 5px 0;
}
.text dt{
    width: 30%;
    font-weight: bold;
}
.text dd{
    width: 70%;
    color: #9da0a7
}
.userCard .media{
    background-color: #e6686a;
    text-align: center;

}
.userCard .media svg{
    height: 30px;
    width: 30px;
    fill: white;
    vertical-align: top;
}
.media a{
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    padding: 10px 0;
    line-height: 30px;
    margin: 16px 16px;
}
.media a:hover{
    background: #cf5d5fcc
}
.download{
    text-align: center;
    margin:30px auto;
}
.download-inner{
    border: 1px solid #cdcfd1;
    display: inline-block;
    padding: 21px 70px;
    border-radius: 2px; 
}
.download-inner a{
    
}
.downloadResume{
    border: 1px solid #cdcfd1;
    display: inline-block;
    padding: 21px 55px;
    border-radius: 4px; 
    font-size: 14px;
    font-weight: bold;
}
.downloadResume:hover{
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    transition: 0.2s;
}
.downloadResumeWrapper{
    text-align: center;
    margin: 30px auto;
}
main > p.abstract{
    text-align: center;
    line-height: 1.8;
    margin: 30px auto;
    font-size: 18px;
    font-family: kai;
}
section.skills > h2,
section.portfolio > h2{
    text-align: center;
    margin-top: 72px;
    font-size: 34px;
}
section.skills .skillsList{
    background-color: #ffffff;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 30px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.38);
    border-radius: 2px;
}
section.skills .progressBar{
    height: 5px;
    max-width: 400px; 
    background-color: #fae1e1;
    border-radius: 2px;
    margin-top: 4px;
}
section.skills .progressBar .progressBarInner{
    height: 100%;
    width: 50%;
    background-color: #e6686a;
    border-radius: 2px;
}
section.skills li{
    float: left;
    width: 48%;
}
section.skills li:nth-child(even){
    float: right;
    
}
section.skills ol{
    padding: 20px 60px 20px;
    box-sizing: border-box;
}
section.skills ol li {
    margin: 20px 0;
}
section.portfolio{
    text-align: center;
}
section.portfolio nav {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: center;   
    display: inline-block; 
    vertical-align: top;
}
section.portfolio nav ol{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
}
section.portfolio nav ol li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
section.portfolio nav ol li:first-child{
    margin-left: 0;
}
section.portfolio nav .navigation{
    height: 5px;
    margin: 0 auto;
    background-color: white;
    border-radius: 2px;
}
section.portfolio nav .navigation .navigationInner{
    height: 100%;
    width: 15%;
    background-color: #e6686a;
    border-radius: 2px;
    transition: 0.4s;
}
section.portfolio nav .state-1 .navigationInner{
    margin-left: 0;
    width: 15%;
}
section.portfolio nav .state-2 .navigationInner{
    width: 17%;
    margin-left: 72px;
}
section.portfolio nav .state-3 .navigationInner{
    width: 42%;
    margin-left: 139px;
}
section.portfolio .works .big,
section.portfolio .works .small{
    position: absolute;
}
section.portfolio .works{
    position: relative;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    height: 597px;
} 


